nav {
  color: black;
  background: #f13953;
  font-family: "cursive";
}

.container ul {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0;
}

.container ul > li {
  text-align: center;
  font-size: 1.25rem;
}
